<!DOCTYPE html>
<html>
  <head>
    <title>Land Exchange</title>
    <link rel='stylesheet' href='../static/skeleton.css'>
    <link rel='stylesheet' href='../static/about.css'>
  </head>
  <body>
    <article class="post__article">
        <div class="background-image">
          <img src="../images/ProblemImg.jpg">
          <div class="image-text">
            <header class"post__header">
                <h1 class="post__heading">Land Exchange</h1>
            </header>
          </div>
        </div>
        <h2>Problem</h2>
        <br>
        <br>
        <div class="section">
          <div class="six column">
            <ul>
              <li>In 2016, land prices in the American Midwest fell 5%, the <strong>biggest</strong> quarterly drop since 1987.</li>
              <li>America's farmland recession is due to the drop in land values that has been accompanied with poor financing from lendors.</li>
            </ul>
          </div>
          <div class="five column">
            <ul class="second-section">
              <li>Valuing vacant or agrarian land provides several obstacles for investors that developed land does not. This <strong>uncertainty in price</strong> devalues the land since investors are naturally risk-averse.</li>
              <li>The risk premium was determined to depress land prices by <strong>20%</strong>!</li>
            </ul>
          </div>
          <div class="one column"></div>
        </div>
        <h2>Status Quo</h2>
        <div class="section">
          <div class="text six column">
            <ul>
              <li><strong>Zillow</strong>
                <ul>
                  <li>Zillow is a real estate listing website providing information about residences</li>
                  <li><strong>However</strong>, pricing vacant land is more difficult than pricing real estate</li>
                </ul>
              </li>
              <li><strong>Southern Land Exchange</strong>
                <ul>
                  <li>The Southern Land Exchange is a platform that allows you to buy and sell land</li>
                  <li><strong>However</strong>, a real estate agent is required and there is no "share system" which means investors take on a lot of risk</li>
                </ul>
              </li>
              <li><strong>Farm Brokers</strong>
                <ul>
                  <li>Farm brokers allow you to buy agrarian land</li>
                  <li><strong>However</strong>, farm brokers take a fee and do not offer a universal, standard pricing available to the public</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="three column images">
            <img src="../images/SquoImg1.jpg">
            <img src="../images/SquoImg2.jpg">
          </div>
          <div class="three column images">
            <img src="../images/SquoImg3.jpg">
            <img src="../images/SquoImg4.jpg">
          </div>
        </div>
        <h2>Solution</h2>
        <div class="info">
          <p>Our solution is to create an online public exchange for land that would increase transparency in pricing since multiple investors are submitting ask and bid prices. We would also reduce risk in two ways: 1) split land into shares so that investors can spread the risk and 2) be the market maker to increase the liquidity of the land and therefore reducing the risk of land as an investment.</p>
        </div>
        <div class='section'>
          <div class="icon four column">
            <img src="../images/BankIcon.jpg">
            <p>A bank determines the valuation of the land and number of shares issued in our exchange</p>
          </div>
          <div class="icon four column">
            <img src="../images/ExchangeIcon.png">
            <p>We take those shares and begin an auction for investors on our platform. Market makers continue to price the shares of land based on the ask/bid spread</p>
          </div>
          <div class="icon four column">
            <img src="../images/ComputerIcon.png">
            <p>All price setting and trading will be done through the online platform, public to all investors</p>
          </div>
        </div>
        <div class="info">
          <p><strong>How do we know this will work?</strong><p>
          <p>It’s already being done on a small-scale, privately though the American Farm Investors Corporation. They’re sharing farmland among groups of investors therefore appreciating the land.</p>
          <br>
          <p><strong>How are we going to monetize?</strong></p>
          <ul>
            <li>Making the spread as a market maker</li>
            <li>Charging a real time data fee to companies such as Thomson Reuters, Bloomberg, and Google Finance</il>
          </ul>
        </div>
        <br>
        <h2>Impacts</h2>
        <div class="section">
          <div class="text six column">
            <ul>
              <li><strong>Pricing system</strong>
                <ul>
                  <li>Competitive land pricing systems help improve land investment intensity</li>
                </ul>
              </li>
              <li><strong>Farmer welfare</strong>
                <ul>
                  <li>Land Exchange increases the value of farmland by reducing the risk of land investment</li>
                </ul>
              </li>
              <li><strong>Land-Usage Efficiency</strong>
                <ul>
                  <li>Competitive land pricing systems introduced in China in the late 80's doubled land-usage efficiency in Bejing from 1992 to 2012.</li>
                </ul>
              </li>
              <li><strong>Increased investment opportunites for lower income brackets</strong>
                <ul>
                  <li>Land Exchange creates a cheaper and lower risk commodity that can be used as a low-capital investment</li>
                </ul>
              </li>              
            </ul>
          </div>
          <div class="six column farmer">
            <img src="../images/FarmerIcon.png">
          </div>
        </div>
        <h2>Growth</h2>
        <div class="section">
          <div class="six column world">
            <img src="../images/WorldIcon.png">
          </div>
          <div class="text six column">
            <p>There are more than 570 million farms in the world. More than 90% of farms are run by an individual or a family. Family farms occupy a large share of the world's agricultural land and produce about 80% of the world's food.</p>
            <br>
            <p>We want to help farming families around the world finance their property.</p>
          </div>
        </div>
    </article>
  </body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../static/jquery.scrollNav.min.js"></script>
<script>
  $('.post__article').scrollNav();
</script>
